.app-logo {
  height: 2rem;
}

.app-header {
  background-color: #1795d4;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: white;
}

@import "layout";
@import "calculator";